header {
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 20px;
    border-bottom: solid 2px white;

    nav {
        text-align: right;
        align-self: center;
        max-width: 350px;
        width: 100%
    }
}

.header-name {
    font-size: 2.4rem;
}

.header-links {
    font-size: 2.4rem;
    margin-right: 50px;
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: white;
    }

    &:last-child {
        margin-right: 0;
    }
}