/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: white;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
p,
a {
  font-size: 1.6rem;
}
.container {
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px;
  border-bottom: solid 2px white;
}
header nav {
  text-align: right;
  align-self: center;
  max-width: 350px;
  width: 100%;
}
.header-name {
  font-size: 2.4rem;
}
.header-links {
  font-size: 2.4rem;
  margin-right: 50px;
  text-decoration: none;
  cursor: pointer;
}
.header-links:last-child {
  margin-right: 0;
}
.cta-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cta/banner.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cta-content,
.cta-bottom {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.cta-content {
  top: 50%;
}
.cta-bottom {
  top: 98%;
}
.cta-name {
  font-size: 8rem;
}
.cta-about {
  font-size: 6rem;
}
.cta-btn {
  font-size: 3rem;
}
.about-section {
  color: white;
  background: linear-gradient(#3f1542, #54135c);
  padding: 10rem 4rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  position: relative;
}
.about-content {
  display: flex;
  justify-content: space-around;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.about-left p {
  font-size: 2rem;
  margin: 1rem 0;
}
.about-middle {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.about-middle .about-img {
  align-self: center;
  max-width: 100%;
  height: auto;
  border: solid white 8px;
  border-radius: 50%;
}
.about-middle .about-info {
  text-align: center;
}
.about-middle .about-info h1 {
  font-size: 8rem;
}
.about-middle .about-info h2 {
  font-size: 4rem;
}
.about-middle .about-socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.about-middle .about-socials a {
  font-size: 3rem;
  color: white;
}
.about-middle .about-socials p {
  font-size: 3rem;
  padding: 0 2rem;
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  text-align: right;
}
.about-right h2 {
  font-size: 3.6rem;
  text-decoration: underline;
}
.about-right p {
  font-size: 2rem;
  margin: 1rem 0;
}
.about-btn {
  font-size: 3rem;
  align-self: center;
  position: absolute;
  bottom: 1%;
}
.projects-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  height: 100vh;
}
footer {
  color: white;
  background: linear-gradient(#54135c, #814885);
}
.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.footer-prof-img {
  width: 225px;
  border-radius: 50%;
  border: solid white 4px;
  margin: 4rem;
}
.footer-info {
  align-self: center;
}
.footer-icon-bar {
  margin-top: 1rem;
}
.footer-icon-bar a {
  color: white;
  margin-left: 1.6rem;
}
.footer-icon-bar a:first-child {
  margin-left: 0;
}
.footer-copyright {
  text-align: center;
  font-size: 2.4rem;
  padding-bottom: 2rem;
}
