.cta-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cta/banner.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.cta-content, .cta-bottom {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cta-content {
    top: 50%;
}

.cta-bottom {
    top: 95%;
}

.cta-name {
    font-size: 8rem;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
}

.cta-about {
    font-size: 6rem;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
}

.cta-btn {
    font-size: 3rem;
}